$screen-min: 361px;
$screen-max: ($screen-min - 1);

.page-container {
  max-width: $screen-max;
  height: 640px;
  margin: 0 auto;
}
.view-container {
  padding-top: 64px
}
.AppBar {
  position: fixed !important;
  max-width: $screen-max;
  top: 0;
}
.u-NoContent {
  margin: 20px 0;
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.870588);
}