$screen-min: 361px;
$screen-max: ($screen-min - 1);

.page-container {
  max-width: $screen-max;
  height: 640px;
  margin: 0 auto;
}
.view-container {
  padding-top: 64px
}
.app-bar {
  position: fixed !important;
  max-width: $screen-max;
  top: 0;
}
.channel-item-new-messages-text {
  color: rgb(255, 64, 129) !important;
}
